/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .contact-info {
        line-height: 2;
    }
}
/* Mobile */
@media (max-width:46.1875em) {
    .s-full-width, .s-col-full {
        width: 100% !important;
    }
    #header {
        overflow: hidden;
    }
    
    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-btn {
        display: none;
    }
    #nav {
        display: block;
    }
    #nav li a {
        padding: 1px 24px;
    }
    #nav > li {
        display: block;
    }

    #nav li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    
    #nav .subnav a {
        color:#fff;
        padding: 5px 41px;
    }

    .contact-form {
        margin-top: 16px;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    .contact-info a {
        color: #101aef;
        opacity: 0.6;
    }

    .contact-info a:hover{
        opacity: 1;
    }
}

/* Tablet Mobile */
@media (max-width: 63.9375em) {
    .btn {
        padding: 15px 16px;
    }

    .control-form .form-control {
        padding: 16px;
    }

    .socials-list {
        font-size: 48px;
    }

    #footer .socials-list a {
        margin: 0 8px;
    }

    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }

    #nav .subnav a {
        padding: 5px 12px;
    }

    .contact-form {
        margin-top: 32px;
    }

    .contact-submit-btn {
        font-size: 17px;
    }
}

