/* .box-1 không có chiều cao, vì .parent-1 mặc định height: auto */
.parent-1 .box-1 {
    height: 550%;
    background-color: green;
}

.parent-2 {
    /* Hãy thử comment height lại để thấy sự thay đổi */
    height: 400px;
    background-color: #ccc;
}

/* .box-2 có chiều cao, vì .parent-2 được set height */
.parent-2 .box-2 {
    /* 30% của 400px */
    height: 30%;
    background-color: orange;
}