:root {
    --text-color: green;
}
h1 {
    color: var(--text-color);
    font-size: 20px;
  }

#first-heading.sample {
    color:violet;
}

#first-heading {
    color:blue;
}

.second-heading {
    color:green;
}

.second-heading {
    color:aquamarine !important;
}

/* html {
    color:yellow;
} */
/* 
* {
    color:red;
} */

